body {
  display: flex;
  justify-content: center;
}
.banner {
  width: 1200px;
  position: relative;
}

.opened {
  height: 300px;
  overflow: hidden;
}
.opening.transition {
  height: 300px;
  overflow: hidden;
  transition: all 1s;
}

.closed {
  height: 80px;
  overflow: hidden;
}
.closing.transition {
  transition: all 1s;
  height: 80px;
  overflow: hidden;
}

.wrap {
  position: relative;
}
.banner.closed > .wrap {
  top: -300px;
}
.banner.closed.transition > .wrap,
.banner.closing.transition > .wrap {
  top: -300px;
  transition: all 1s;
}
.banner.opened.transition > .wrap,
.banner.opening.transition > .wrap {
  top: 0px;
  transition: all 1s;
}

.btn {
  position: absolute;
  right: 0;
  bottom: 0px;
  font-size: 13px;
  padding: 2px 2px 2px 8px;
  width: 40px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #a3a3a3;
  text-decoration: none;
  cursor: pointer;
}
.btn::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin: 2px;
  border-style: solid;
  border-width: 0 3px 3px;
  border-color: transparent transparent #a3a3a3;
}
.btn.down::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin: 2px;
  border-style: solid;
  border-width: 3px 3px 0;
  border-color: #a3a3a3 transparent transparent;
}
.btn:hover {
  color: white;
}
.btn:hover::after {
  border-color: transparent transparent white;
}
.btn.down:hover::after {
  border-color: white transparent transparent;
}
